In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fuel_data = pd.read_csv("fuel_ferc1.csv")

## __Which of the following fuel type code has the lowest average fuel cost per unit burned?__

In [4]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

## __What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?__

In [5]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## __What is the skewness and kurtosis for the fuel quantity burned in two decimal places?__

In [6]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [7]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

## __Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?__

### __(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)__

In [8]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [9]:
total = fuel_data['fuel_unit'].count()

In [10]:
percent = (180/ total)*100
print(percent)

0.6134342091810653

## __The feature with missing values falls under what category? What missing value imputation technique would you use?__

In [11]:
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value = 'mcf')

In [12]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

## __Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?__

In [13]:
fuel_data.corr()['fuel_cost_per_unit_burned'].sort_values(ascending = True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## __For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?__

In [15]:
fuel_data.groupby(['fuel_type_code_pudl', 'report_year'])['fuel_cost_per_unit_burned'].aggregate('sum').unstack()

report_year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
fuel_type_code_pudl,,,,,,,,,,,,,,,,,,,,,
coal,14984.572,14571.785,12694.803,43742.178,11902.597,16303.468,100428.831,15109.012,9171.164,30954.110,...,45554.858,88627.745,17001.015,17546.097,17629.860,15412.197,13338.235,11100.925,10254.284,9488.197
gas,10792.496,9087.905,1467.390,1518.471,7475.596,16767.895,10024.878,10360.348,3584.279,7170.143,...,11193.089,4240.494,3264.968,3420.876,2982.281,4169.285,6224.304,1994.266,4424.244,4322.494
nuclear,227983.354,384152.639,66657.887,112593.911,117788.269,62915.808,112375.382,59292.078,59958.884,59591.536,...,172823.881,202133.032,229824.926,240648.791,243192.226,229158.129,208830.486,213837.559,197491.493,173267.161
oil,9362.194,17858.281,5357.028,5387.536,2608.657,29654.510,104055.470,95315.421,48956.627,51349.250,...,33068.327,35503.392,123477.065,59263.866,42336.964,268670.603,31038.094,28012.376,31935.723,33836.602
other,116.737,183.577,160.075,153.923,225.428,271.579,100.014,71.283,-4.257,-51.286,...,204.527,321.647,89.717,224.123,182.494,0.661,0.595,0.609,NaN,NaN
waste,52.762,-192.699,88.092,137.433,238.109,143.025,-489.141,217.499,254.438,161.973,...,739.884,755.157,517.912,589.791,609.411,591.594,629.270,539.079,452.079,660.972

## __Which year has the highest average fuel cost per unit delivered?__

In [16]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = True)

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64